/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
}

header h1 {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

header h1 a,
header h1 a img {
  width: 100%;
  height: 100%;
}

header h1 a:focus-visible {
  border-radius: 2px;
  outline: 2px solid #596b4c;
}

header .notice {
  position: absolute;
  top: 90px;
  left: 50%;
  padding: 10px 20px;
  background-color: #f1ffe7;
  border-radius: 999px;
  border: 1px solid #94b07f;
  box-shadow: 4px 7px 10px rgba(148, 176, 127, 0.1);
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 12px;
}

header h1:has(a:focus-visible) + .notice,
header h1:hover + .notice {
  top: 70px;
  opacity: 1;
}

/* wrapper */
#wrapper {
  width: 100%;
  height: 100vh;
  background: url("../images/img-bg.jpg") no-repeat center center / cover;
  letter-spacing: -4%;
}

/* content */
.cont section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  padding: 0 24px;
}

/* button */
.btn-wrap {
  margin: 40px auto 0;
}

.btn-wrap .btn {
  display: block;
  width: fit-content;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 15px;
  background: linear-gradient(180deg, #fdfff0 0%, #d6feb8 100%);
  border-radius: 999px;
  box-shadow: 4px 7px 10px rgba(148, 176, 127, 0.1);
  border: 1px solid #94b07f;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #4b5b3f;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-wrap .btn:hover {
  transform: translateY(-10px);
  box-shadow: 4px 7px 10px rgba(148, 176, 127, 0.3);
}

.btn-wrap .btn:focus-visible {
  outline: 2px solid #596b4c;
}

.btn-wrap.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.btn-wrap.flex .btn {
  margin: 0;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  font-size: 12px;
  text-align: center;
  color: #94b07f;
}

@media all and (max-width: 600px) {
  header .notice {
    padding: 10px 15px;
  }

  .btn-wrap.flex {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20px;
  }
}
